## Overview

### Modeling

* Read parquet file
* Train SARIMA model

### Import libraries

In [3]:
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA

### Lead dataset

In [4]:
df = pd.read_parquet("../data/processed/avc-cuiaba.parquet")
df

,data,co_ppb,no2_ppb,o3_ppb,pm25_ugm3,so2_ugm3,TMAX,UR,PRESS,DS,LAG0,LOAVC
0,2016-01-01,192.8,1.8,12.7,20.8,1.4,31.6,87.00,983.029167,0,2,0
1,2016-01-02,222.7,2.6,12.4,19.6,1.7,33.9,75.75,983.408333,1,4,0
2,2016-01-03,214.2,2.4,14.5,19.1,1.5,28.1,88.50,983.854167,1,2,1
3,2016-01-04,236.6,2.8,17.9,24.9,1.8,34.8,75.75,982.791667,0,8,1
4,2016-01-05,218.3,2.6,14.0,18.5,1.8,31.1,83.50,984.125000,0,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1091,2018-12-27,176.2,3.7,13.7,23.0,2.5,33.5,73.00,981.450000,0,5,2
1092,2018-12-28,133.3,1.1,10.0,13.0,1.0,31.7,82.50,982.395833,0,7,0
1093,2018-12-29,136.1,1.0,11.5,13.8,0.9,31.2,80.50,982.372727,0,3,1
1094,2018-12-30,127.7,0.8,13.5,12.9,0.8,30.5,70.25,984.550000,1,2,0
1095,2018-12-31,126.8,1.6,6.9,14.6,1.3,27.1,90.50,983.391667,1,3,0

In [5]:
df = df.set_index("data")

In [6]:
start, end = "2018-01-01", "2018-04-25"

avc_series = df.loc[start:end].PRESS.asfreq("D")
model = ARIMA(avc_series,
              order=(1, 0, 0),
              seasonal_order=(0, 1, 1, 30))
model = model.fit()

y_pred = model.forecast()

/home/matheus/miniconda3/envs/tg/lib/python3.10/site-packages/statsmodels/tsa/statespace/sarimax.py:866: UserWarning: Too few observations to estimate starting parameters for seasonal ARMA. All parameters except for variances will be set to zeros.
  warn('Too few observations to estimate starting parameters%s.'

In [7]:
y_pred

2018-04-26    986.557316
Freq: D, dtype: float64